

body{
    max-width: 1365px;
    padding: 0;
    margin: 0 auto;
    /*font-family: Montserrat;*/
}
.header{
    min-height: 670px;
}


.container{
    border: 1px solid black;
}
.size{
    min-width: 500px;
    min-height: 400px;
}


